{% extends "blog/base.html" %}

{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.summary }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_extra %}
  <meta property="article:author" content="László Herczeg">
  <meta property="article:published_time" content="{{ post.published|date:'c' }}">
{% endblock %}

<title>
    {% block title %}
        {{ post.title }} - Laszlo Herczeg
    {% endblock %}
</title>

{% block content %}
    {# TODO:Style detail page #}
    {# TODO: Include picture #}
    <h1>
        {{ post.title }}
    </h1>
    <time datetime="{{ post.published|date:'c' }}">{{ post.published|date:"j F Y" }}</time>
    <p> {{ post.body }}</p>
{% endblock %}
