{% extends "blog/base.html" %}

{% block title %}Projects - Laszlo Herczeg{% endblock %}

{% block content %}
    {# TODO: List projects #}
    <h1>
        Projects
    </h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id neque nec nibh accumsan accumsan ut vitae purus. Curabitur aliquam eros nisi, a sagittis quam cursus a. Nam nisi sapien, fringilla eu ultricies eget, posuere consequat neque. Quisque ultricies, velit ut ornare tempor, massa justo cursus justo, in ultrices metus magna non justo. Curabitur aliquet rhoncus pharetra. Curabitur bibendum mauris non orci elementum sagittis. Sed non nunc vestibulum, venenatis orci a, euismod purus. Etiam nisi mi, fermentum at consectetur sed, laoreet vel tellus. Nam vestibulum nisi ut vestibulum maximus. Mauris suscipit vulputate risus a pharetra. Proin tincidunt aliquet massa, a vulputate tortor venenatis non. Nam vel elementum ex. Morbi ipsum lorem, sodales a eleifend in, volutpat ac sem.

Integer lacinia at sem nec convallis. Mauris nec lobortis ligula. Donec tempor felis enim, non fermentum elit auctor sit amet. Nam hendrerit urna et orci ultrices elementum. Nulla sagittis, nisi vitae imperdiet tempus, augue mi rhoncus felis, sed consectetur nunc magna sit amet justo. Quisque congue purus ac augue sagittis, non rhoncus enim porttitor. Proin felis sapien, maximus et metus sit amet, fermentum feugiat tellus. Etiam mi mauris, vulputate eget tincidunt vel, rutrum eget magna. Vivamus a ullamcorper nisi, vel mattis tortor.

Mauris at sapien lacinia, suscipit ex quis, interdum sem. Mauris mollis laoreet aliquam. Cras cursus pulvinar posuere. In mollis auctor faucibus. Etiam aliquam nibh urna, vitae placerat enim sollicitudin sit amet. Praesent vel ligula in nisi vestibulum finibus a at orci. Morbi quis tempus dolor. Curabitur at sem facilisis nisl tristique pretium vitae non lectus. Donec dui sem, volutpat ac nibh ac, commodo sagittis orci. Integer pretium gravida eleifend. Suspendisse potenti. Maecenas id risus vitae lacus pellentesque consequat. Phasellus a arcu ut massa luctus euismod in id ipsum.
{% endblock %}